.cardStyle img{
    height:200px;
}

@media only screen and (max-width: 980px) {
    .cardStyle {
        margin-top:20px;
    }
  }

  @media only screen and (max-width: 759px) {
    .cardStyle {
        width: 350px;
        margin : auto;
        margin-top:20px;
    }
  }

  @media only screen and (max-width: 400px) {
    .cardStyle {
        width: 100%;
        margin : auto;
        margin-top:20px;
    }
  }