.rideInfo img{
    width: 70px
}
.rideInfo{
    display: flex;
    justify-content: space-between;
    border: 1px solid turquoise;
    margin : 10px;
    padding: 5px;
    border-radius : 10px;
}


.searchButton{
    color: whitesmoke;
    width: 100%;
    border-radius: 20px;
    border: none;
    background: orange;
    padding: 5px;
    font-weight: 700;
    margin-bottom: 30px;
}
.searchResult{
    background-color: #91a8bf;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 15px;
}